@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

html {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  font-size: 1.2rem;
  line-height: 1.5;
  color: #eee;
  background: #1a1a1a;
}
