{% extends "base.html" %}
{% comment %} Title {% endcomment %}
{% block page_title %}
  {{ month_name | title }} Challenge
{% endblock page_title %}
{% comment %} Body {% endcomment %}
{% block content %}
  {% include "challenges/partials/navbar.html" with active_page="challenge" %}
  <h1>This Month's Challenge - {{ month_name | title }}</h1>
  {% if text is not None %}
    <h2>{{ text }}</h2>
  {% else %}
    <h2>There is no challenge for this month yet!</h2>
  {% endif %}
{% endblock content %}
