{% extends "base.html" %}
{% comment %}  {% endcomment %}
{% load static %}
{% block css_files %}
  <link rel="stylesheet" href="{% static 'challenges/main.css' %}">
  <link rel="stylesheet" href="{% static 'challenges/navbar.css' %}">
{% endblock css_files %}
{% comment %} Title {% endcomment %}
{% block page_title %}
  {{ month_name | title }} Challenge
{% endblock page_title %}
{% comment %} Body {% endcomment %}
{% block content %}
  {% include "challenges/partials/navbar.html" with active_page="challenges" %}
  <h1>This Month's Challenge - {{ month_name | title }}</h1>
  {% if text is not None %}
    <h2>{{ text }}</h2>
  {% else %}
    <h2 class="fallback">There is no challenge for this month yet!</h2>
  {% endif %}
{% endblock content %}
